@model EntityLayer.Concrete.UserAuthority

@{
    ViewData["Title"] = "User Authortiy Details";
}

<h1>@Model.UserAuthorityID's Details</h1>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            User Authority ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAuthorityID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Read)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Read)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Create)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Create)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Write)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Write)
        </dd>
        <dt class = "col-sm-2">
            User Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class = "col-sm-2">
            Role Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Role.RoleName)
        </dd>
    </dl>
    <div style="display:flex; justify-content:space-between; margin-top:15px;">
        <a href="/UserAuthority/UserAuthortiyUpdate/@Model.UserAuthorityID" class="btn btn-primary">Update</a>
    </div>
</div>
